<!--
  Generated template for the ListEventosCriadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Eventos Criados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-fab top right edge>
        <button ion-fab  color="light" (click)="criaEvento()"> 
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

    <ion-list>
            <ion-item-sliding *ngFor="let evento of eventos | async">
              <ion-item>
                  <ion-thumbnail item-start>
                      <img src="{{ evento.url }}" alt="">
                  </ion-thumbnail>
                  <h2>{{evento.nome}}</h2>
                  <p>Participantes: {{evento.totalParticipantes}}</p>
                  <p>Interessados: {{evento.totalInteressados}}</p>
                  <p>Não Interessados: {{evento.totalNaoInteressados}}</p>
            </ion-item>

             <ion-item-options side="left">
                <button ion-button color="secondary" (click)="editarEvento(evento)">
                  <ion-icon name="create"></ion-icon> 
                  Alterar 
                </button>
                <button ion-button color="danger" (click)="removerEvento(evento)">
                  <ion-icon name="trash"></ion-icon>  
                  Remover
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>

</ion-content>