<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>

      <ion-icon item-left small name="mail"></ion-icon>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" id="email" [(ngModel)]="usuario.email"></ion-input>
    </ion-item>

    <ion-item>

      <ion-icon item-left small name="lock"></ion-icon>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" id="senha" [(ngModel)]="usuario.senha"></ion-input>
    </ion-item>

    <button ion-button block round margin-top (click)="logar()">Logar</button>

    <button ion-button block round clear color="light" (click)="resetarSenha()">Esqueci a senha</button>
</ion-content>