<!--
  Generated template for the EditUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title>Alterar Usuário
      <ion-icon float-end name="checkmark-circle" (click)="alterarUsuario()"></ion-icon>

    </ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
  
    <ion-item>
      <img class="avatar-icon" [src]="usuario.photoURL">
      <!-- <ion-icon class="avatar-icon" name="person" md="md-person">{{usuario.photoURL}}</ion-icon> -->
    </ion-item>
    <ion-item>
      <ion-label >{{usuario.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label flooting>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
    </ion-item>
  
    <ion-list>
      <ion-item>
        <ion-label>Tipo de Usuário</ion-label>
        <ion-select [(ngModel)]="usuario.tipoUsuario" interface="action-sheet" >
          <ion-option value=0>Comum</ion-option>
          <ion-option value=1>Divulgador</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>