<!--
  Generated template for the IngressosCompradosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Ingressos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let ingresso of ingressos | async">
      <ion-item>
        <h2>{{ingresso.eventoPreenchido.nome}} </h2>
        <h3>{{ingresso.eventoPreenchido.data | date: 'dd/MM/yyyy'}} {{infoDataHora(ingresso.eventoPreenchido)}}</h3>
        <p>Valor: {{amountChange(ingresso.eventoPreenchido.valorIngresso)}}</p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>