<!--
  Generated template for the EventoDetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{evento.nome}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col col-12>
      <ion-avatar *ngIf="evento.url!=urlSemFoto">
        <img src="{{ evento.url }}" />
      </ion-avatar>
    </ion-col>
    <ion-col col-12>
      <div>Valor: {{amountChange(evento.valorIngresso)}}</div>
    </ion-col>
    <ion-col col-12>
      <h2>Data e duração:</h2>
      <div style='text-align: center'>{{evento.data | date: 'dd/MM/yyyy'}}</div>
      <div style='text-align: center'>{{infoDataHora(evento)}}</div>
    </ion-col>
    <ion-col col-12>
      <h2>Sinopse:</h2>
      <div style='text-align: center'>{{evento.sinopse}}</div>
    </ion-col>
    <ion-col col-12>
      <div style='text-align: center'>Classificação Indicativa: {{descClassificacao(evento.classificacao)}}</div>
    </ion-col>
    <ion-col col-12>
      <h2>Endereço:</h2>
      <p style='text-align: left'>{{evento.logradouro}}, {{evento.bairro}}, {{evento.cidade}}-{{evento.estado}}, {{evento.cep}}</p>
    </ion-col>
    <button ion-button block round color="dark" (click)="openAlertComprarIngresso()" block>Comprar Ingresso</button>
    <button ion-button block round color="dark" (click)="abrirMapsTracarRota()">Traçar Rota</button>
  </ion-row>
</ion-content>