<!--
  Generated template for the ListEventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista Eventos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-list>
      <ion-item-sliding *ngFor="let evento of eventos | async">
        <ion-item>
          <div (click)="detalhesEvento(evento)">
            <img src="{{ evento.url }}" />
            <ion-card-content>
              <ion-card-title color="light">{{evento.nome}}</ion-card-title>
              <p>Valor: {{amountChange(evento.valorIngresso)}}</p>
            </ion-card-content>
            <ion-row>
              <ion-col center text-center>
                <div>{{evento.data | date: 'dd/MM/yyyy'}}</div>
                <div>{{infoDataHora(evento)}}</div>
              </ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col width-50>
              <button ion-button outline block round left color="secondary" *ngIf="!evento.usuarioOpinou || !evento.interessado" (click)="temInteresse(evento, true)">
                <ion-icon name="thumbs-up"></ion-icon>
              </button>
              <button ion-button block round left color="secondary" *ngIf="evento.usuarioOpinou && evento.interessado" (click)="temInteresse(evento, true)">
                <ion-icon name="thumbs-up"></ion-icon>
              </button>
            </ion-col>
            <ion-col width-50>
              <button ion-button outline block round right color="danger" *ngIf="!evento.usuarioOpinou || evento.interessado" (click)="temInteresse(evento, false)">
                <ion-icon name="thumbs-down"></ion-icon>
              </button>
              <button ion-button block round right color="danger" *ngIf="evento.usuarioOpinou && !evento.interessado" (click)="temInteresse(evento, false)">
                <ion-icon name="thumbs-down"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-card>


</ion-content>