<!--
  Generated template for the NovoEventoInformacoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ tituloPagina }}
      <ion-icon float-end name="checkmark-circle" (click)="openPage()"></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
      <ion-label flooting>Nome:</ion-label>
      <ion-input type="text" [(ngModel)]="evento.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label flooting>Sinopse:</ion-label>
      <ion-input type="text" [(ngModel)]="evento.sinopse"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label col-4 flooting>Classificação:</ion-label>
      <ion-select col-8 [(ngModel)]="evento.classificacao">
        <ion-option value=0 [selected]="true">N/A</ion-option>
        <ion-option value=1>Livre</ion-option>
        <ion-option value=2>A partir de 10 anos</ion-option>
        <ion-option value=3>A partir de 12 anos</ion-option>
        <ion-option value=4>A partir de 14 anos</ion-option>
        <ion-option value=5>A partir de 16 anos</ion-option>
        <ion-option value=6>A partir de 18 anos</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="evento.data"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Hora inicial</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="evento.horaInicial"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Hora final</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="evento.horaFinal"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Valor</ion-label>
      <ion-input type="number" name="money" [(ngModel)]="evento.valorIngresso" placeholder="(R$) Real"
        (keyup)="amountChange()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="image" item-start></ion-icon>
      <input type="file" accept="image/*" (change)="onPhoto($event)" />
    </ion-item>

</ion-content>